.btn,
.link {
  font-family: var(--accent-font);
  letter-spacing: 0.08em;
}

.btn {
  appearance: none;
  background: var(--chartreuse-1);
  border-radius: var(--small-radius);
  border: 0;
  box-shadow: 0 3px 0 -1px var(--chartreuse-3);
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 0.875em;
  font-weight: 800;
  overflow: hidden;
  padding: 6px 24px;
  position: relative;
  text-transform: uppercase;
  transition: background 50ms ease-out;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  background: var(--chartreuse-2);
}

.btn:not(:disabled):active {
  background: var(--chartreuse-3);
  color: #111;
}

.btn:disabled {
  color: #333;
  cursor: not-allowed;
}

.btn:disabled::after {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.link {
  color: var(--chartreuse-1);
  font-weight: 700;
  transition: color 50ms ease-out;
}

.link:not(:disabled):hover,
.link:not(:disabled):focus {
  color: var(--chartreuse-2);
  text-decoration: wavy underline;
}

.link:not(:disabled):active {
  color: var(--chartreuse-3);
}

.link:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
