.btn,
.link {
  font-family: var(--accent-font);
  font-size: 0.75em;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.btn {
  appearance: none;
  background: #ccff4a;
  border-radius: var(--small-radius);
  border: 0;
  box-shadow: 0 3px 0 -1px #88cc18;
  color: #000;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 6px 24px;
  position: relative;
  text-transform: uppercase;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  background: #aaee33;
  box-shadow: 0 3px 0 -1px #77bb14;
}

.btn:not(:disabled):active {
  background: #88cc22;
  box-shadow: 0 3px 0 -1px #88aa08;
  color: #333;
}

.btn:disabled {
  color: #333;
  cursor: not-allowed;
}

.btn:disabled::after {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.link {
  color: #ccff4a;
}

.link:not(:disabled):hover,
.link:not(:disabled):focus {
  color: #aaee33;
}

.link:not(:disabled):active {
  color: #88cc22;
}

.link:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
