.footer {
  color: #eee;
  text-align: center;
}

.copyright {
  background: rgb(var(--bg));
  border-radius: var(--small-radius);
  color: rgb(var(--fg));
  display: inline-block;
  font-size: 0.75em;
  letter-spacing: 0.07em;
  padding: 10px 15px 15px;
}
