html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.subheading {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
