.input {
  background: #3a3a3a;
  border-radius: var(--small-radius);
  font-family: var(--body-font);
  font-size: 1em;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding: 8px 12px;
}

.input:focus {
  outline: 2px solid #ccff4a;
}

.input:hover {
  background: #444;
}

.inputLabel {
  display: block;
  margin-bottom: 10px;
}

.hiddenInput {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.info {
  float: right;
  position: relative;
}

.infoLabel {
  cursor: pointer;
  opacity: 0.8;
}

.hiddenInput:hover + .infoLabel,
.hiddenInput:focus + .infoLabel,
.hiddenInput:checked + .infoLabel {
  color: var(--chartreuse-1);
  opacity: 1;
}

.infoBody {
  background: #000;
  border-radius: var(--small-radius);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  left: 50%;
  margin: 10px 0;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 100%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 1;
}

.hiddenInput:checked ~ .infoBody {
  display: block;
}
