aniso8601==7.0.0
astroid==3.3.4
bcrypt==4.2.0
blinker==1.8.2
cffi==1.17.1
click==8.1.7
dill==0.3.9
Flask==3.0.3
Flask-GraphQL==2.0.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==3.1.1
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
json5==0.9.25
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
mccabe==0.7.0
pillow==10.4.0
platformdirs==4.3.6
promise==2.3
psycopg2-binary==2.9.9
pycparser==2.22
pylint==3.3.1
python-http-client==3.3.7
Rx==1.6.3
sendgrid==6.11.0
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.54
starkbank-ecdsa==2.2.0
toml==0.10.2
tomlkit==0.13.2
typing_extensions==4.12.2
uWSGI==2.0.27
Werkzeug==3.0.4
