aniso8601==7.0.0
astroid==2.8.5
click==8.0.3
Flask==2.0.2
Flask-GraphQL==2.0.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==1.1.2
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
json5==0.9.6
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
Pillow==8.4.0
platformdirs==2.4.0
promise==2.3
psycopg2-binary==2.9.2
pylint==2.11.1
python-http-client==3.3.4
Rx==1.6.1
sendgrid==6.9.2
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.27
starkbank-ecdsa==2.0.3
toml==0.10.2
typing-extensions==4.0.0
Werkzeug==2.0.2
wrapt==1.13.3
